name: Workflow Test
"on":
  push:
    branches:
      - "**"
      - "!no-tests/**"
    tags:
      - "!**"
  pull_request:
    branches:
      - "**"
      - "!no-tests/**"
jobs:
  branch-test:
    name: Test with `swift-version` input.
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
        swift-version:
          - "6.0.3"
          - DEVELOPMENT-SNAPSHOT-2025-02-06-a
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Swift.
        uses: ./
        with:
          swift-version: ${{ matrix.swift-version }}
      - name: View Swift Version
        run: swift --version
      - name: Run Swift
        run: ./utils/swift-test
  branch-test-with-swift-version-file:
    name: Test with ".swift-version" file.
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Swift.
        uses: ./
        with:
          swift-package-directory: ./swift-test-package
      - name: View Swift Version
        run: swift --version
      - name: Run Swift
        run: ./utils/swift-test
